.contenedor_image {
    display: grid;
    grid-template-columns:
        repeat(auto-fit,
            minmax(200px, 1fr));
    ;
    gap: 50px;


}

.imagenM {
    width: 100%;
    margin: auto;
}

.textoM {
    width: 100%;
}