/* .footer_F {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

.body_prueba {

    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100vh;

    justify-content: space-between;
}

.div_prueba_f {
    margin-top: auto;

}

.parrafoP {
    padding-bottom: 30px;
}