#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.custom-arrow {
  font-size: 24px;
  color: #333;
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50%);
  transition: font-size 2s ease, box-shadow 2s ease;  /* Tiempo más largo para la transición */
}

.custom-arrow:hover {
  font-size: 32px;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.9);  /* Brillito al hacer hover */
  outline: 2px solid rgba(255, 255, 255, 0.9);  /* Brillito como outline */
}

.custom-arrow.left {
  left: 0;
}

.custom-arrow.right {
  right: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.home{
  width: 70%;
  margin: auto;
  padding: 100px;
  background: #ebebeb;
  border-radius: 10%;
  border: solid 1px #d68227;
 

}
.price {
  color: grey;
  font-size: 22px;
}

.react-multi-carousel-list{
  max-width: 100%;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card{

width: 90%;
}

.App{

  max-width: 100%;
}

.App h1 {

text-align: center;

}

.home{

margin-top: 40px;

}

.CarruselInicio{

max-height: 10vh;

}

.elementoProducto:active {

color: red;

}

/* .apapa:hover{

 
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
} */

.pruebasss{
  height: 90vh;
}

.pepesq1{

max-width: 100% !important;
text-align: center !important;
align-items: center;


}

.pruebahome{
  width: 100% !important;
 text-align: center !important;


}

.pruebaas{

justify-content: center !important;
}


.contenedorImg_Data{

 overflow: hidden;

} 
.c1{
  display: flex;
  width: 50%;
  /* background: red; */
  margin-right: 10px;
  margin: auto;
}

.c2{

  width: 50%;
  /* background: blue; */
  margin-left: 10px;
  overflow-y: scroll;
  height: 100%;
}

.imagenDetalle{
  max-width: 100%;
  align-items: center;
}

.c2_1{
display: flex;
height: 15vh;
/* background: greenyellow; */
flex-direction: column;
gap: 20px;
text-align: initial;

width: 100%;
}

/* .c2_2{
  
  background: green;
} */

.c2_conjunto{
  width: 100%;
}

.c2_1_1_Precio{
/* background: violet; */
width: 100%;
}

.carrusel_Principal{
  height: 90vh;
}

.DetallesAgregados{

width: 100%;
overflow: auto;
height: 65vh;
}

.Salsas_title{

  /* background-color: goldenrod; */
  height: 20%;
  display: flex;
  height: 20%;
  flex-direction: column;
  gap: 20px;
  padding: calc(20px) calc(20px) 0px;
  width: 100%;
 
}

.Sal_1{
  width: 100%;
}

.Maxsal{
  width: 100%;
}
.Lista_Agregados{

  width: 100%;
  margin: 0px;
  padding: 0px
  ;

}

.Bebidas_title{
  /* background-color: goldenrod; */
  height: 20%;
  display: flex;
  height: 20%;
  flex-direction: column;
  gap: 20px;
  padding: calc(20px) calc(20px) 0px;
  width: 100%;
  
}


.Tipos_Detalle{

width: 100%;
max-width: 100%;

}

.layout {
  width: 100%;
  /* height: 100%; */

  display: flex;
 flex-direction: column;
border: 1px solid rgba(0, 0, 0, 0.1);
}

.Elemento_del_UL{

width: 50%;
margin-left: 10px;
text-align: initial;

}

.titulos_tipo{
  width: 100%;
  height: 7vh; 
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.envo{

  width: 100%;
  /* background: gray; */
}

.div_img_comida{
  height: 65vh;
}

.div_img_comida img{
  height: 65vh;
  max-width: 90%;
  border-radius: 10%;
}

.listas{
  display: flex;
  width: 100%;
  height: 10vh;
}

.wrapper{
  height: 45px;
  min-width: 20% ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  user-select: none

}

.wrapper span{
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

.wrapper span.num{

  font-size: 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);

}


.Menu_dia img{
  width: 100%;
}

.Menu_dia{
  width: 100%;
}