#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 1rem auto 4rem;
}

.product--image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
}

.home{
  width: 70%;
  margin: auto;
  padding: 100px;
  background: #ebebeb;
  border-radius: 10%;
  border: solid 1px #d68227;
}
.price {
  color: grey;
  font-size: 22px;
}

.react-multi-carousel-list{
  max-width: 100%;
}


.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card{

width: 90%;
}

.App{

  max-width: 100%;
}

.App h1 {

text-align: center;

}

.home{

margin-top: 40px;

}